.gm-style-iw-chr {
  display: none;
}

.powerStationMarker {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.powerStationHoverInfo,
.powerStationMoreInfo {
  h1 {
    font-weight: bold;
    font-size: 1.15em;
    margin: 1em 0 10px 0;
  }

  button.moreInfoWindowCloseButton {
    color: #333;
    text-align: right!important;
    display: inline-block;
    margin-left: auto;
  }

  table {
    width: 100%;
    tbody {
      tr {
        td {
          padding: 0 0 5px 0;

          button.entityButton {
            display: inline;
            color: inherit;
            text-transform: none;
            padding: 0;
            text-decoration: underline !important;
            font-weight: normal;
            font-size: 1em;
            margin: 0;
            text-align: right;
            width: auto;
            &:hover {
              color: #333;
            }
          }
        }
        td:nth-child(2) {
          text-align: right;
        }
      }
    }
  }
}
