* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  color: #7a747f;
  background: #555555;
  overflow: hidden;
  font-family: roboto;
}

.mapContainer {
  height: 100vh;
}

.filterPanel {
  background-color: #ffffff;
  padding: 1em;
  height: 100vh;
}
